{% include 'head.html' %}

<!-- header & Menu-->
    <div class="top-image">
        <img src="static/img/pex2.jpeg" alt="" srcset="">
    </div>
    <!-- main body-->
    <div id="main" class="container-fluid">
        <div class="home_intro">
            <h4>Hi, I am <a>Sheun</a>.<br/>I solve problems using software.</h4> 
            
            <hr>
            <div class="row main-menu">
                <div class="column">
                        <h4 style="text-align: center;">About</h4>
                        <ol class="the-list" style="text-align: center;">
                            <li>I am currently working on various software projects focused on Data Science and Programming Languages, deployed on Web, Mobile and Desktop Platforms. </li>
                        </ol>
                </div>
            <div class="column">
            <h4>Projects</h4>
            <ol class="the-list">
              
                <li> <a href="https://remotetaskng.com/" target="_blank" rel="noopener noreferrer">🏢 RemoteTaskNG</a>: A Job Board for Programming Jobs.</li>
                <hr>
                <li> <a href="https://github.com/sheunl" target="_blank">🧰 Open Source</a>: Opensource projects and contributions.</li>
                <li> <a href="https://www.behance.net/sheunl/" target="_blank" rel="noopener noreferrer">🎨 Digital Designs</a>: User Interfaces and Data Visualizations.</li>
                            
            </ol>
            </div>
            
                <div class="column">
                    <h4>Programming</h4>
                    <ol class="the-list">
                        
                        <li> <a href="http://blog.sheunlawani.com/" target="_blank">📝 Tech Blog</a>: Writing about Computer Systems and Programming.</li>
                        <li> <a href="https://leetcode.com/Sheunl/" target="_blank" rel="noopener noreferrer">🔣 LeetCode</a>: Competitive Programming.</li>
                        <li> <a href="https://www.kaggle.com/numine" target="_blank" rel="noopener noreferrer">📊 Kaggle</a>: Data Science Competitions.</li>
                        <li> <a href="https://www.youtube.com/channel/UCPZbE2f-LiBaeK9njDgqQmA" target="_blank" rel="noopener noreferrer">🎬 Videos</a>: On Programming, Data, Etc.</li>

                    </ol>
                    </div>   
        </div>


        </div>       
            <hr>
            <h3 class="text-center">Contact</h3>
            <ul class="text-center home-links" id="contactz">
                
                <li>
                    <a style="cursor: pointer;" href="mailto:me@sheunlawani.com" id="mail-link" target="_blank">
                    <i class="bi bi-envelope"></i>
                    Mail
                    </a>
                    
                </li>
                <li>&middot;</li>
                <li>
                    <a href="https://twitter.com/sheuntl" target="_blank"> 
                        <i class="bi bi-twitter"></i>
                        Twitter</a></li>
                    </a>
                </li>
                <li>&middot;</li>
                <li>
                    <a href="https://twitter.com/sheuntl" target="_blank"> 
                        <i class="bi bi-github"></i>
                        Github</a></li>
                    </a>
                </li><li>&middot;</li>
                <li>
                    <a href="https://www.instagram.com/sheunlawani/" target="_blank"> 
                        <i class="bi bi-instagram"></i>
                        Instagram</a></li>
                    </a>
                </li>
            </ul>

        </div>
    </div>

{% include 'foot.html' %}
