:root {
    --primary-color: #007bff;
    --text-color: #333;
    --bg-color: #ffffff;
    --hover-color: #0056b3;
    --border-color: #e9ecef;
    --primary-400: crimson;
    --link-color-hover: red;
    --link-color: crimson;
  }

h1 {
    color: crimson !important;
}