
body#body-m{
    /*background:#bbb;*/
    font-family: 'Courier New', Courier, monospace;
    background-size: cover;
    background-position: center, center;
    background-image: linear-gradient(to top, rgba(255,255,255,0) 75%, rgba(200,200,200,0.5)), url(../img/Blue-PCB-Mask.jpg);
    background-repeat: no-repeat;
}

.menu li { margin-left:40%;
            font-size: 20px;
            font-weight: 700; }

.blog-menu { background-color: crimson;
            border-radius: 5px;
            }
.blog-menu a{
    display: inline-block;
    padding: 7px 20px;
}

.blog-menu:hover a{
            color: white !important;
            transition: color 0.5s linear;
}

.spacer {
    height: 200px;
}


.menu a{color: black !important;}            
a { color: crimson !important;
    text-decoration: none !important;}
a:hover { color:brown !important; }

.center-logo{
    margin: 120px auto 5px auto;
    display: block;
    padding: 0px 30px;
    background-color: #090909;
}

@media screen and (max-width: 991px){
    .menu li { margin-left: 0;
        margin-bottom: 15px; }
    
    .menu a{color: white !important;} 

    .menu a:hover{ color: rgb(92, 9, 9) !important;
        transition: color 0.5s linear;}

    .blog-menu:hover a{
        color: rgb(92, 9, 9) !important;
        transition: color 0.5s linear;
}

    
}

#main { }

#textfx{
    text-align: center;
    font-size: 20px;
    color: white;
}

#textfx span{background-color: black;
    padding: 0px 5px;}

#textfx .xfx {color:crimson;}

footer{
    width: 100%;
    background-color: #333;
    font-size: 20px;
    height: 90px;
    border-top: 2px #555 solid;
    align-items: center;
    text-align: center;
    display: flex !important;
    justify-content: center;
    color: white;
}

.product {
    font-size: 86px;
    margin: 100px auto;
    text-align: center;
    color: white;
    background-color: black;
}