
body#body-m{
    background:#bbb;
    font-family: 'Courier New', Courier, monospace;
}

.menu li { margin-left:40%;
            font-size: 20px;
            font-weight: 700; }

.blog-menu { background-color: crimson;
            border-radius: 5px;
            }
.blog-menu a{
    display: inline-block;
    padding: 7px 20px;
}

.blog-menu:hover a{
            color: white !important;
            transition: color 0.5s linear;
}




.menu a{color: black !important;}            
a { color: crimson !important;
    text-decoration: none !important;}
a:hover { color:brown !important; }

.center-logo{
    margin: 100px auto;
    display: block;
}

@media screen and (max-width: 991px){
    .menu li { margin-left: 0;
        margin-bottom: 15px; }
}

#main { }