
body#body-m{
    background:#efefef;
    font-family: 'Courier New', Courier, monospace;
}

.menu li { margin-left:40%;
            font-size: 20px;
            font-weight: 700; }

.blog-menu { background-color: crimson;
            border-radius: 5px;
            }
.blog-menu a{
    display: inline-block;
    padding: 7px 20px;
}

.blog-menu:hover a{
            color: white !important;
            transition: color 0.5s linear;
}

.spacer {
    height: 200px;
}


.menu a{color: black !important;}            

.menu a:hover{ color:crimson !important;
    transition: color 0.2s linear;}
a { color: crimson !important;
    text-decoration: none !important;}
a:hover { color:brown !important; }

.center-logo{
    margin: 70px auto 5px auto;
    display: block;
    padding: 0px 30px;
    background-color: #090909;
}

@media screen and (max-width: 991px){
    .menu li { margin-left: 0;
        margin-bottom: 15px; }
    
    .menu a{color: black !important;} 

    .menu a:hover{ color:crimson !important;
        transition: color 0.2s linear;}

    .blog-menu:hover a{
        color:crimson !important;
        transition: color 0.2s linear;
}

    
}

@media screen and (max-width: 500px){

    .center-logo {
        margin-top:10px;
        width: 300px;
        height: 340px;
        }
    .center-logo text{
    font-size: 50px;
    }

    .center-logo text:nth-child(2){
        transform: translate(-108px,-6px);
    }

    .image-svg.product p{font-size: 50px;}

}


#textfx{
    text-align: center;
    font-size: 20px;
    color: white;
}

#textfx span{background-color: black;
    padding: 0px 5px;}

#textfx .xfx {color:crimson;}

footer{
    width: 100%;
    background-color: #111;
    font-size: 20px;
    height: 130px;
    border-top: 2px #555 solid;
    align-items: center;
    text-align: center;
    display: flex !important;
    justify-content: center;
    color: white;
    flex-direction: column;
}


.product {
    font-size: 86px;
    margin: 100px auto;
    text-align: center;
    color: white;
    background-color: black;
}

.image-svg.portfolio {
    padding: 7px;
    background-color: #222;
}

.image-gal {
    background-color: #f5f5f5;
    padding: 5px;
}

.text-gal {
    background-color: white;
    padding-top: 5px;
}

.row.itemz {
    margin-bottom: 30px;
    margin-top: 30px;
}

h2.head-gal {
    color: white;
    text-align: center;
    font-size: 50px;
    margin-top: 3px;
}

.row.list-services {
    background-color: white;
    font-size: 23px;
}

.list-services .left,.list-services .right {
    text-align: center;
    padding: 5px;
}

.list-services .left.col {border-right: 2px black solid;}

.home-social {
    text-align: center;
    padding: 4px;
    background-color: #222;
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

p.social-h {
    margin: 0px;
    font-size: 25px;
}

.social-h span {
    margin-right: 20px;
}

.paddle{
    color: white;
     font-size: 20px;
      background-color: #222;
      padding: 25px; 
      margin-top: 10px;
}

.home_intro {
    padding: 40px;
    margin-bottom: 20px;
}

.home-links{
    list-style: none;
    padding-left: 0px;
}


.home-links li {
    padding-bottom: 10px;
    font-size: 20px;
}

h3.work {
    background-color: #ed143dc7;
    padding: 5px;
    text-align: center;
    color: white;
}

h3.work a{
    color: white !important;
}
h3.work a:hover{
    color: #5d0000 !important;
}