* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
}

body{
    color: white;
    background-color: #333;   
    background-image:  linear-gradient(#dddddd15 1px, transparent 1px), linear-gradient(to right, #dddddd15 1px, #333 1px);
    background-size: 20px 20px;
}

a {
    color: white;
}

a:hover {
    text-decoration: dashed;
}

#navmenu{
    display: flex;
    font-size: 20px;
    padding: 5px 0px;
    align-items: center;
    border-bottom: 1px solid #ffffff40;
    justify-content: space-between;
}

#navmenu > div {
    margin-right:  10px;
}

#banner-bg{
    background-color: #333;
    padding: 20px 0px;
}

.banner{
    font-size:40px;
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 84%, rgba(252,176,69,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align:center;
    word-wrap: break-word;
    font-weight: 300;
    padding: 20px 0px 0px 0px;
}

.banner-text {
    text-align: center;
    padding-bottom: 20px;
    font-size: 20px;
}

.projects-action-div{
    text-align:center;
}

.projects-action{
    background-color: #ffffff00;
    border: 1px solid white;
    color: white;
    padding: 5px 10px;
    font-size: 30px;
    transition: box-shadow .25s linear .01s;
    cursor: pointer;
}

button.projects-action:hover {
    box-shadow: 5px 6px 0px #ffa630;
    color: #333;
    background-color: white;
}

.logo {
    max-width: 50px;
}

.section h2{
    text-align: center;
    color: #ffa630;
    margin-bottom: 0px;
}

.platforms-slider{
    list-style-type: none;
    padding: 20px 20px;
    background-color: #333;
    color: #ffa630;
    overflow: hidden;
    text-align: center;
    margin-top: 0px;
}

.platforms-slider li{
    display: inline-block;
    text-align: center;
    margin-right: 30px;
 
}

.platform-image-logo {
    max-width: 40px;
    margin: auto;
}

.center { text-align: center;}

.h-lists{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.h-lists li{
    display: inline-block;
}

.v-lists{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.contact-list, .content-list, .projects-list, .platforms-slider span{
    font-size: 20px;
}

footer{
    padding: 20px;
    background-color: #333;
    margin-top: 30px;
    font-size: 20px;
}

div#contact {
    text-align: center;
}

div#contact p {
    font-size: 20px;
    margin-top: 0px;
}

form#contact-form input, form#contact-form textarea, form#contact-form input[type=text] {
    padding: 10px;
    margin: 10px 0px;
    width: 50%;
    background-color: #333;
    border: 1px solid white;
    color: white;
}

ul#contactz {
    font-size: 30px;
}

ul#contactz.nav-contact {
    font-size: 20px;
}

form#contact-form {
    margin-bottom: 20px;
}

button.form-action {
    background-color: #ffffff00;
    border: 1px solid white;
    color: white;
    padding: 5px 10px;
    font-size: 20px;
    transition: background-color .25s linear .01s;
    cursor: pointer;
}

button.form-action:hover{
    background-color: #ffa630;
    color: #333;
}

div#resp-ham {
    display: none;
    cursor: pointer;
}

#navmenu .content > a {
    margin-right: 20px;
}

#navmenu .content {
    display: flex;
}

.show-menu{
    display: flex !important;
}

.hide-menu{
    display: none;
}

@media screen and (min-width: 500px) {
    div#resp-ham {
        display: none;
    }

    #navmenu .content{
        display: flex;
    }
}

@media screen and (max-width: 500px) {
    div#resp-ham {
        display: block;
    }

    #navmenu .content{
        display: none;
    }

    #navmenu .content {
        display: none;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        position: absolute;
        box-sizing: border-box;
        top: 70px;
        width: 96%;
        background-color: #333;
        padding: 10px;
        border: 1px solid white;
    }

    #navmenu .content >*{
        margin-bottom: 10px;
    }
  }

  div#main {
    max-width: 1000px;
    margin: auto;
    padding: 0px 20px;
}

.tools-list li {
    border: 1px solid #ffa630;
    border-radius: 2px;
    padding: 7px;
    margin-bottom: 10px;
}

ol.tools-list.center.h-lists {
    margin-top: 10px;
}

.a-card {
    width: 250px;
    margin-right: 15px;
    background-color: #333;
}

.a-card p, .a-card h3 {
    margin: 2px;
    text-align: left;
}

.project-cards {
    display: flex;
}

.a-card p {
    font-size: 15px;
}

@media screen and (max-width: 700px) {
    .project-cards {
        display: flex;
        flex-direction: column;
    }

    .a-card {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
    }
}